/*************************/
/* BELOW 1344px (Smaller Desktops) */
/*************************/

@media (max-width: 84em) {
    .section-hero {
        max-width: 130rem;
    }

    .skill-icon {
        width: 6rem;
        height: 6rem;
    }

    .skill-card {
        width: 16rem;
        padding: 1.6rem 2.4rem;
    }
}

/*************************/
/* BELOW 1200px (Landscape Tablets) */
/*************************/



@media (max-width: 75em) {

    .html {
        font-size: 56.25%;
    }

    .section-about {
        padding: 2.4rem 1.2rem;
    }

    .section-about__text {
        font-size: 1.6rem;
    }

    .projects__grid {
        grid-template-columns: repeat(2, 1fr);
        margin: 5rem 2rem;
        place-items: center;
    }

    
    .skill-icon {
        width: 4.5rem;
        height: 4.5rem;
    }

    .skill-card__title {
        font-size: 1.6rem;
    }

    .skill-card {
        width: 10rem;
        padding: 1.6rem 6.4rem;
    }

    .contact-text {
        font-size: 6rem;
        margin: 0 auto .5rem auto;
    }

    .contact-proposal {
        font-size: 2rem;
    }

    .mail-outline {
        font-size: 3rem;
    }
    
    .email-link:link,
    .email-link:visited {
        font-size: 2.4rem;
        padding: 1.8rem 2.4rem;
    }

    .social-icon {
        font-size: 3rem;
        padding: 1.8rem;
    }

    .footer-text {
        font-size: 1.4rem;
    }

    .footer-quote {
        font-size: 1.4rem;
    }
    
}

/*************************/
/* BELOW 900px (Tablets) */
/*************************/

@media (max-width: 54em) {

    .html {
        font-size: 50%;
    }

    .hero {
        gap: 2.6rem;
    }

    .section-hero__image {
        width: 18rem
    }

    .heading--primary {
        font-size: 3.8rem;
    }

    .heading--secondary {
        font-size: 3rem;
    }

    .description-text {
        font-size: 1.8rem;
    }

    .project-card {
        width: 28rem;
        gap: 1.4rem;
    }

    .project-card__title {
        font-size: 1.6rem;
    }

    .project-card__description {
        font-size: 1.4rem;
    }

    .skills__container {
        grid-template-columns: repeat(3, 1fr);
    }

    .skill-icon{
        width: 4rem;
        height: 4rem;
    }

    .skill-card__title {
        font-size: 1.4rem;
    }

    .skill-card {
        width: 10rem;
        padding: 1.2rem 0.6rem;
    }

}

/*************************/
/* BELOW 704px (Smaller tablets) */
/*************************/

@media (max-width: 44em) {

    .header {
        height: 6rem;
    }

    .header__logo-image {
        width: 8rem;
    }

    .header__nav-link:link,
    .header__nav-link:visited {
        font-size: 1.6rem;
    }

    .hero {
        gap: 2.4rem;
    }

    .section-hero__image {
        width: 16rem;
    }

    .heading--primary {
        font-size: 3.6rem;
    }

    .heading--secondary {
        font-size: 2.4rem;
    }

    .description-text {
        font-size: 1.6rem;
    }

    .section-contact__container {
        gap: 1rem;
    }

    .contact-text {
        font-size: 5rem;
        margin: 0 auto .8rem auto;
    }

    .contact-proposal {
        font-size: 1.6rem;
    }

    .mail-outline {
        font-size: 2.4rem;
    }
    
    .email-link:link,
    .email-link:visited {
        font-size: 2rem;
        padding: 1.2rem 2rem;
    }

    .social-icon {
        font-size: 2.4rem;
        padding: 1.2rem;
    }

    .footer-text {
        font-size: 1.2rem;
    }

    .footer-quote {
        font-size: 1.2rem;
    }
    
}

@media (max-width: 44em) {
    .projects__grid {
        grid-template-columns: 1fr;
        margin: 5rem 1rem;
    }

    .contact-text {
        font-size: 4.2rem;
        margin: 0 auto .4rem auto;
    }

    .contact-proposal {
        font-size: 1.8rem;
        padding: 0 3rem;
    }


}

/*************************/
/* BELOW 544px (Phones) */
/*************************/

@media (max-width: 34em) {
    .header {
        height: 5.5rem;
    }

    .header__logo-image {
        width: 7.5rem;
    }

    .btn-mobile-nav {
        display: block;
        z-index: 1000;
    }

    .header__nav {
        background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    }

    .nav-open .header__nav {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
    }

    .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

    .header__nav-list {
        flex-direction: column;
        gap: 4.8rem;
    }

    .header__nav-link:link,
    .header__nav-link:visited {     
        font-size: 3rem;
    }

    .hero {
        gap: 2.4rem;
    }

    .section-hero {
        padding: 3.2rem 0 4rem 0;
    }

    .section-hero__image {
        width: 12rem;
    }

    .heading--primary {
        font-size: 2.8rem;
    }

    .heading--secondary {
        font-size: 2.4rem;
    }

    .hero .description-text {
        font-size: 1.4rem;
    }

    .hero__buttons {
        gap: 1.6rem;
    }

    .btn,
.btn:link,
.btn:visited {
    font-size: 1.4rem;
    padding: 1.8rem 2.8rem;
}

    .description-text {
        font-size: 1.6rem;
    }

    .projects__grid {
        gap: 3.2rem;
    }

    .project--description {
        margin-bottom: 3.2rem;
    }

    .section-about {
        padding: 2.4rem 2.2rem;
    }

    .contact-proposal {
        font-size: 1.8rem;
        padding: 0 3rem
    }

        .footer {
        padding: 2rem 1.2rem;
        }

}